* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  transition: 0.3s;
}
body {
  width: 100%;
  background: #000000;
  min-height: 100vh;
  color: #fff;
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}
section {
  width: 100%;
  margin-top:75px;
  max-width: 375px;
}

form,
header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
header {
  padding-bottom: 45px;
}
header h1 {
  font-size: 2rem;
}
form input,
form button,
form select {
  padding: 0.5rem;
  border: none;
  font-size: 1.5rem;
}

button {
  background-color: #ffdf7d;
  min-width: 45px;
  cursor: pointer;
  user-select: none;
  border: none;
  outline: none;
}
button:hover {
  background-color: black;
  color: #ffdf7d;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.select {
  margin-left: 10px;
  position: relative;
}

.todo {
  display: flex;
  margin-top: 15px;
}
.saveTodo {
  opacity: 0.5;
}
.todo li {
  list-style: none;
  padding: 12px;
  background: #8a7f7f;
  text-align: left;
}
.todo-item {
  flex-grow: 1;
}
.delete-btn {
  background-color: coral;
}
.check-btn {
  background-color: #66bb6a;
}
.add-animation {
  opacity: 0;
  transition: 0.3 ease;
  transform: translate(350px);
}

.delete-btn p,
.check-btn p {
  pointer-events: none;
  outline: none;
  border: none;
}
@media (min-width: 768px) {

  section {
    max-width: 578px;
  }
}
